<header>
    <nav class="navbar navbar-dark color-tema mat-elevation-z8">
      <div class="container-fluid">
        <a class="navbar-brand text-white">Sistemas</a>
        <button class="navbar-toggler me-auto" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <h4 class="text-white"></h4>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
        </div>
        <div class=""><img src="../assets/images/quitoCeleste.png" class="img-fluid" alt=""></div>
      </div>
    </nav>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-xl-7 imagen">
        <div class="text-center m-5">
          <br><br><img src="../assets/images/logotipo-Quito.svg" class="img-fluid m-5" width="100%">
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-5 py-5">
        <div class="p-5 text-center">
          <p class="display-6">Ingresar al sistema</p>
          <main class="mat-elevation-z8 form-signin">
            <div class="card-body text-center">
              <button class="btn botones btn-lg" (click)="login()">
                Iniciar Sesión
              </button>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
